body {
    background: black;
}

.AppContainer {
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95vw;
    .cus-div {
        width: 100%;
        position: relative;
    }
    #skew1 {
        background: grey;
        background-size: cover;
        background-position: center center;
        z-index: 10;
        height: 325px;
    }
    #skew2 {
        padding-top: 50px;
        background: #c2c2c2;
        z-index: 9;
        height: 800px;
        .coding-background-image-2 {
            background: url('./images/design_background.png');
            position: absolute;
            top: 40px;
            left: 0px;
            height: 111vh;
            width: 100%;
            background-position: -520px -120px;
            background-size: 1937.5px;
            background-repeat: no-repeat;
            opacity: 0.125;
        }
    }
    #skew3 {
        background: black;
        background-size: cover;
        background-position: 0px -500px;
        z-index: 8;
        height: 700px;
        .coding-background-image {
            background: url('./images/coding_background.png');
            position: absolute;
            top: -20px;
            left: -12.5%;
            height: 98.5vh;
            width: 112.5%;
            background-size: auto;
            background-position: 500px 175px;
            background-size: 1250px;
            background-repeat: no-repeat;
            opacity: 0.2;
        }
    }
    #skew4 {
        background: #c2c2c2;
        background-size: cover;
        background-position: center center;
        z-index: 7;
        height: 770px;
    }
    #skew5 {
        background: grey;
        background-size: cover;
        background-position: center center;
        z-index: 6;
        height: 225px;
    }
    .cus-div:after {
        position: absolute;
        width: 100%;
        height: 100%;
        background: inherit;
        z-index: -1;
        bottom: 0;
        content: '';
    }
    #skew1:after,
    #skew2:after,
    #skew4:after {
        transform-origin: left bottom;
        transform: skewY(3deg);
    }
    #skew3:after {
        transform-origin: right bottom;
        transform: skewY(-3deg);
    }
    .content {
        font-weight: bold;
        text-align: center;
        padding: 100px 50px;
        overflow: hidden;
        display: block;
    }
    .j-logo {
        background: url('./images/j-transparent.png');
        position: relative;
        top: -100px;
        left: -5%;
        height: 10vh;
        width: 10%;
        background-size: auto;
        background-position: center center;
        background-size: 40px;
        background-repeat: no-repeat;
    }
    .jason-pic {
        background: url('./images/jason.png');
        position: absolute;
        margin-top: 2vh;
        left: 1007.5%;
        height: 90px;
        width: 75px;
        background-position: -6px -3px;
        background-size: 120%;
        background-repeat: no-repeat;
        border-radius: 100px;
    }
    .html5-logo {
        background: url('./images/html5-logo.png');
        position: relative;
        left: 300px;
        height: 200px;
        width: 15%;
        bottom: 30px;
        background-size: auto;
        background-position: center center;
        background-size: 180px;
        background-repeat: no-repeat;
    }
    .javascript-logo {
        background: url('./images/javascript-logo.png');
        position: relative;
        bottom: 510px;
        left: 42.5%;
        height: 200px;
        width: 15%;
        background-size: auto;
        background-position: center center;
        background-size: 150px;
        background-repeat: no-repeat;
    }
    .css3-logo {
        background: url('./images/css3-logo.svg');
        position: absolute;
        right: 350px;
        bottom: 450px;
        height: 350px;
        width: 15%;
        background-size: auto;
        background-position: center center;
        background-size: 210px;
        background-repeat: no-repeat;
    }
    .react-logo {
        background: url('./images/react-logo.png');
        position: relative;
        bottom: 205px;
        left: 15%;
        height: 200px;
        width: 15%;
        background-size: auto;
        background-position: center center;
        background-size: 350px;
        background-repeat: no-repeat;
    }
    .node-logo {
        background: url('./images/node-logo.png');
        position: relative;
        bottom: 400px;
        left: 32%;
        height: 200px;
        width: 15%;
        background-size: auto;
        background-position: center center;
        background-size: 180px;
        background-repeat: no-repeat;
    }
    .express-logo {
        background: url('./images/express-logo.png');
        position: relative;
        bottom: 600px;
        left: 50%;
        height: 200px;
        width: 15%;
        background-size: auto;
        background-position: center center;
        background-size: 160px;
        background-repeat: no-repeat;
    }
    .sass-logo {
        background: url('./images/sass-logo.svg');
        position: absolute;
        right: 18%;
        bottom: -55px;
        height: 350px;
        width: 18%;
        background-size: auto;
        background-position: center center;
        background-size: 210px;
        background-repeat: no-repeat;
    }
    .content h2 {
        margin: 0;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
    }
    .content h3 {
        margin: 25px;
        margin-bottom: 40px;
        font-family:'Times New Roman', Times, serif;
        font-size: 35px;
    }
    .content a {
        background: white;
        border-radius: 5px;
        height: 20px;
        width: 20px;
        padding: 10px 20px;
        color: black;
        font-size: 20px;
        text-decoration: none;
    }
    .content a:hover {
        background: rgb(153, 191, 204);
    }
    .content p {
        padding: 0 300px;
        line-height: 1.5;
        color: #000;
        font-size: 20px;
    }
    #skew2 h3 {
        margin-top: -5px;
    }
    #skew2 p {
        position: absolute;
        color: #fff;
        margin: -25px 65px 0 -70px;
        font-size: 35px;
        width: 60%
    }
    #skew2 .fake-p {
        position: relative;
        visibility: hidden;
        color: #fff;
        margin-bottom: 160px;
        font-size: 25px;
    }
    #skew2 {
        margin-top: -40px;
    }
    #skew3 h3 {
        color: lightgrey;
        font-size: 45px;
        margin: 10px 0 10px 50px;
        width: 90%;
    }
    #skew3 p {
        color: white;
        margin: 25px 0 0 -180px;
        width: 80%;
        font-size: 32.5px;
    }
    #skew3 h2 {
        color: lightgrey;
        padding-top: 40px;
        margin: 40px 50px 0 0;
        text-shadow: 1px 1px 1px black;
        font-size: 32.5px
    }
    #skew3 ul {
        margin: 25px 80px 0 0;
        list-style: none;
        font-size: 50px;
        color: white;
        text-shadow: 1px 1px 1px black;
    }
    #skew3 li {
        padding-bottom: 20px;
    }
    #skew1 h2 {
        margin-top: -90px;
    }
    #skew4 h3 {
        margin-top: -10px;
    }
    #skew5 p {
        position: absolute;
        bottom: -5px;
        right: 5px;
    }
    .projects-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .project-card-container {
        border: 1px solid black;
        background: white;
        height: 500px;
        max-height: 500px;
        width: 20vw;
        min-width: 250px;
        display: inline-flex;
        flex-direction: column;
        overflow: noscroll;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-shadow: 5px 5px 0 black;
        border-radius: 5px;
        padding-bottom: 20px;
        margin: 0 20px;
        transition: all 750ms ease-out;
        h2 {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            color: white;
            font-size: 20px;
            align-self: center;
            background:green;
            z-index: 6;
            height: 80px;
            border-radius: 2.5px;
        }
        p {
            padding: 7px;
            position: relative;
            left: 0px;
            font-size: 15px;
        }
        li {
            position: relative;
            left: -22px;
            top: -25px;
            list-style: none;
            padding: 5px;
            background: rgb(245, 245, 245);
        }
        button {
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            bottom: -20px;
            align-self: center;
            min-height: 9%;
            min-width: 45%;
            display: flex;
            font-size: 20px;
            box-shadow: 2.5px 2.5px 0 black;
            border-radius: 15px;
            left: 0;
            top: 120px;
        }
        button:hover {
            background: lightgrey;
        }
        .project-card-tech-used {
            height: 90px;
        }
    }
    .project-card-container:hover {
        transform: scale(1.025);
    }
    .module {
        position: absolute;
        top: 2000px;
        left: 0px;
        background: rgb(233, 233, 233);
        height: auto;
        width: 65vw;
        overflow: noscroll;
        margin-left: 10vw;
        border: 1px solid black;
        z-index: 20;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
        background: rgb(241, 202, 151);
    }
    .close-module {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        border: 1px solid black;
        height: 25px;
        width: 25px;
        padding-bottom: 3px;
        margin-bottom: 5px;
        z-index: 16;
        box-shadow: 1px 1px 2px black;
        background: rgb(241, 202, 151);
        position: absolute;
        right: 0px;
        border-radius: 7.5px;
    }
    .close-module:hover {
        background: rgb(253, 214, 163);
        cursor: default;
    }
    .project-info-wrapper {
        border: 1px solid burlywood;
        height: 80px;
        width: 5%;
        min-width: 220px;
        margin-top: 20px;
        display: flex;
        flex-shrink: 3;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 100px 25px;
        background: rgb(241, 202, 151);
        position: absolute;
        right: 0px;
        border-radius: 15px;
        z-index: 15;
        .project-name {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 50%;
            font-size: 30px;
            font-weight: bold;
            border-radius: 20px;
            padding: 10px;
            margin: 5px;
            margin-top: -75px;
        }
        a {
            font-size: 35px;    
        }
        a:hover {
            font-weight: bold;
        }
    }
    #card2 ul {
        margin-top: 50px;
    }
    #card3 ul {
        margin-top: 40px;
    }
    #card4 ul {
        margin-top: 50px;
    }
    .new-gif {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 600px;
        width: 80vw;
        position: relative;
        top: 0px;
        right: 120px;
        z-index: 25;
        background: black;
        transform: scale(0.6);
    }
    .new-iframe {
        height: fill;
        width: fill;
        position: relative;
        left: 0px;
        bottom: 0px;
    }
}

@media only screen and (max-width: 1300px) {
    body {
        display: flex;
        justify-content: center;
        margin: 15px 0 0 20px;       
        .AppContainer {
            width: 94vw;

            #skew2 p {
                margin: -25px 65px 0 -95px !important;
            }
        }
        .coding-background-image-2 {
            background: url('./images/design_background.png');
            position: absolute;
            top: 40px;
            left: 0px;
            height: 810px !important;
            width: 100%;
            background-size: 137.5px;
            background-repeat: no-repeat;
            opacity: 0.125 !important;
        }
        .coding-background-image {
            background: url('./images/coding_background.png');
            position: absolute;
            top: -20px;
            left: -12.5%;
            height: 95vh;
            width: 112.5%;
            background-size: auto;
            background-position: 500px 175px;
            background-size: 1250px;
            background-repeat: no-repeat;
            opacity: 0.2;
            margin-top: -290px;
        }
    }
  }